/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #2563eb;          /* main blue */
    --ifm-color-primary-dark: #1d4ed8;
    --ifm-color-primary-darker: #1e40af;
    --ifm-color-primary-darkest: #172554;
    --ifm-color-primary-light: #3b82f6;
    --ifm-color-primary-lighter: #60a5fa;
    --ifm-color-primary-lightest: #93c5fd;

    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(37, 99, 235, 0.15);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #14b8a6;          /* main brand */
    --ifm-color-primary-dark: #0f766e;
    --ifm-color-primary-darker: #115e59;
    --ifm-color-primary-darkest: #042f2e;
    --ifm-color-primary-light: #2dd4bf;
    --ifm-color-primary-lighter: #5eead4;
    --ifm-color-primary-lightest: #99f6e4;

    --docusaurus-highlighted-code-line-bg: rgba(20, 184, 166, 0.2);
}